#skills {
    overflow: hidden;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto; /* Tengahkan elemen */
    padding: 0 1rem; /* Mengurangi padding sisi */
}

.skillTitle {
    font-size: 2rem; /* Mengurangi ukuran font pada layar kecil */
    font-weight: 600;
    padding-top: 2rem; /* Mengurangi padding atas */
    margin-bottom: 1rem; /* Mengurangi margin bawah */
}

.skillDesc {
    font-weight: 300;
    font-size: 1rem;
    max-width: 51rem;
    padding: 0;
}

.skillBars {
    margin: 1rem 0; /* Mengurangi margin atas dan bawah */
    width: 100%;
    max-width: 80%;
}

.skillBar {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
}

.skillBarImg {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}

.skillBarText>p {
    font-size: 0.9rem;
    font-weight: 200;
    margin-top: 30px; /* Mengurangi margin atas */
    text-align: left;
}

.skillBarText>h2 {
    position: absolute;
}

@media screen and (max-width: 720px) {
    .skillBarText>p {
        font-size: 2vw;
    }
}

@media screen and (max-width: 480px) {
    .skillBarText>p {
        font-size: 3vw;
    }
    .skillBarImg {
        height: 2.25rem;
        width: 2.25rem;
    }
    .skillBarText>h2 {
        font-size: 5vw;
    }
}


